@{
    var path = Context.Request.Path;
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/FunmulaUno.Post/F1Post/List">FunmulaUno</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link @(path == "/FunmulaUno.Post/F1Post/List" ? "active" : "")" aria-current="page" href="/FunmulaUno.Post/F1Post/List">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(path == "/FunmulaUno.Post/F1Post/ListMemes" ? "active" : "")" href="/FunmulaUno.Post/F1Post/ListMemes">Memes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>